---
title: Edwin Morris
---

.items
  = link_to 'http://keepsak.es', class: 'item' do
    %article
      %span.title keepsakes
      %span.url (http://keepsak.es)
      %span.desc
        %p Create an automatic journal from the apps you already use.
        %p You already track what you see and hear, where you go, and what you're doing with apps like Instagram, Spotify, Moves, and Twitter &mdash; keepsakes brings all of that together to uncover the story that was already there.
    %video{ 'src' => 'videos/keepsakes-demo.m4v', 'loop' => 'true', 'muted' => true }

  = link_to 'http://edwin.xxx', class: 'item' do
    %article
      %span.title xxx
      %span.url (http://edwin.xxx)
      %span.desc
        %p This website is a personal project created as a voyeuristic commentary on heteronormativity. While most websites are welcoming and accommodating, visitors find themselves interrupting something on edwin.xxx — assaulted by the flashing text "LOOKING FOR THIS?" the user is led to click, naturally, and finds themselves cycling through aggressive flashing videos and close-ups, seemingly without pattern. The question is raised repeatedly: "LOOKING FOR THIS?"
        %p The scene is bleak — a wilting plant, symmetrical windows with the blinds sealed, a gray shirt, and a brandless burger. The visitor sits across from the man, staring. Is this normal? Is this something anyone wants? To sit down and share a meal is a classic aspect of the "normal" couple. In a generation with little religious attachment, young people find their meaning and companionship in their significant others — one of the only rituals left is sharing a meal. Edwin.xxx distorts this tradition into something twisted and uncomfortable, encouraging the user to question: "LOOKING FOR THIS?"
    %video{ 'src' => 'videos/xxx-demo.m4v', 'loop' => 'true', 'muted' => true }
